* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background: rgb(127, 255, 212);
  background: linear-gradient(
    0deg,
    rgba(127, 255, 212, 0.04275213503370101) 0%,
    rgba(127, 255, 212, 0.4265056364342612) 50%,
    rgba(127, 255, 212, 0.6870098381149334) 100%
  );
}

main {
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

nav {
  background-color: #4bc89e;
  padding: 0.5rem;
  width: 100%;
  position: fixed;
  top: 0;
}

ul#menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

ul#menu div {
  display: flex;
  font-size: 0.9rem;
}

#portfolio a {
  font-size: 1.2rem;
}

ul#menu li {
  transition: all 0.1s ease;
}

ul#menu li:hover {
  transform: scale(1.05);
}

ul#menu li a {
  padding: 0.7rem;
  color: #1d1c1c;
  text-decoration: none;
  font-weight: 650;
}

#sectionTitulo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 1.4rem 0rem 5rem 0rem;
  align-items: center;
  flex-wrap: wrap;
}

#titulo {
  display: flex;
  flex-direction: column;
  width: 20rem;
  font-size: 1rem;
  margin: 2.5rem 0rem 0rem 0rem;
  align-items: center;
}

#subtitulo {
  font-size: 0.8rem;
  font-weight: 500;
}

button {
  background-color: #63e2b8;
  font-weight: 600;
  transition: all 0.2s ease;
  border: none;
  margin: 0.5rem 0rem 0rem 0rem;
  cursor: pointer;
  padding: 0.6rem;
  width: fit-content;
}

button:hover {
  background-color: #26a87d;
}

#image1 {
  width: fit-content;
  height: 30rem;
}

#divTitulo {
  display: flex;
}

#sectionSm {
  width: 28rem;
  text-align: center;
  margin: 3rem 0rem 3rem 0rem;
}

#sobremim {
  padding: 2rem;
}

#sobremimsub {
  font-weight: 400;
  font-size: 1rem;
}

#sectionProjeto {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  margin: 4rem 2rem;
}

#divProjeto {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 4rem;
}

.classProjeto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 6rem;
  gap: 1.5rem;
}

#projetos {
  padding: 2rem;
}

#detetive:hover {
  background-image: url(/assets/images/icons8-detetive.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#detetive {
  padding: 2.5rem;
  transition: all 0.5s ease;
  background-image: url(/assets/images/icons8-detetive-90.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#jokenpo:hover {
  background-image: url(/assets/images/icons8-paper-hand-96.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#jokenpo {
  padding: 2.5rem;
  transition: all 0.5s ease;
  background-image: url(/assets/images/icons8-rock-hand-96.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#jornada:hover {
  background-image: url(/assets/images/icons8-haltere.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#jornada {
  padding: 2.5rem;
  transition: all 0.5s ease;
  background-image: url(/assets/images/haltercerto.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#velha:hover {
  background-image: url(/assets/images/essetictacverde.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#velha {
  padding: 2.5rem;
  transition: all 0.5s ease;
  background-image: url(/assets/images/essetictac.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#interativo:hover {
  background-image: url(/assets/images/icons8-pokeball-aberto-96.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#interativo {
  padding: 2.5rem;
  transition: all 0.5s ease;
  background-image: url(/assets/images/icons8-pokebola-96.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#sectionTec {
  text-align: center;
  margin: 3rem 0rem 3rem 0rem;
}

#divTec {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;
}

#tecnologias {
  padding: 2rem;
}

#html:hover {
  background-color: #80ffd4;
}

#js:hover {
  background-color: #80ffd4;
}

#css:hover {
  background-color: #80ffd4;
}

#sectionCont {
  text-align: center;
  margin: 0rem 0rem 2rem 0rem;
  padding: 2.5rem;
}

#divCont {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 2.5rem;
  font-size: 0.9rem;
}

a {
  text-decoration: none;
  color: #1d1c1c;
}

footer {
  background-color: #4bc89e;
  padding: 0.5rem;
  width: 100%;
}

#divFooter {
  font-size: 0.6rem;
  display: flex;
  justify-content: center;
  gap: 0.3rem;
}

#footerName {
  color: #bfffea;
  font-weight: 400;
}

/* @media (max-width: 838px) {
  #image1 {
    height: 25rem;
  }
  #titulo {
    width: 15rem;
  }
  header {
    justify-content: space-between;
  }
}

@media (max-width: 678px) {
  #image1 {
    height: 20rem;
  }
  #titulo {
    width: 10rem;
    font-size: 0.7rem;
  }

  header {
    justify-content: space-between;
  }
}

@media (max-width: 518px) {
  #image1 {
    height: 15rem;
  }
  #titulo {
    width: 7rem;
    font-size: 0.5rem;
  }

  #subtitulo {
    font-size: 0.6rem;
  }

  header {
    justify-content: space-between;
  }
} */

/* @media (max-width: 390px) {
  #image1 {
    height: 12rem;
  }
  #titulo {
    width: 5rem;
    font-size: 0.4rem;
  }

  #subtitulo {
    font-size: 0.4rem;
  }

  header {
    justify-content: space-between;
  }
} */

/* display: flex;
  flex-direction: column;
  width: 20rem;
  font-size: 1rem;
  margin: 2.5rem 0rem 0rem 0rem;
  align-items: center; */
/* @media (max-width: 667px) {
  #image1 {
    height: 14rem;
  }
  #titulo {
    width: 11rem;
    font-size: 0.7rem;
  }
}

@media (max-width: 509px) {
  #image1 {
    height: 10rem;
  }
  #titulo {
    width: 9rem;
    font-size: 0.5rem;
  }
  main {
    font-size: 0.7rem;
  }
  #sobremimsub {
    font-size: 0.7rem;
  }
  button{
    padding: 0.4rem;
  }
}

@media (max-width: 375px) {
  #image1 {
    height: 7rem;
  }
  #titulo {
    width: 8rem;
    font-size: 0.4rem;
  }
}

@media (max-width: 303px) {
  #image1 {
    height: 5rem;
  }
  #titulo {
    width: 7rem;
    font-size: 0.3rem;
  }
}

@media (max-width: 280px) {
  #image1 {
    height: 4rem;
  }
  #titulo {
    width: 6rem;
    font-size: 0.2rem;
  }

  ul#menu div {
    display: flex;
    font-size: 0.2rem;
  }

  #portfolio a {
    font-size: 0.4rem;
  }
}

@media (max-width: 471px) {
  ul#menu div {
    display: flex;
    font-size: 0.5rem;
  }

  #portfolio a {
    font-size: 0.7rem;
  }
} */
